Business/bin/Debug/
Business/obj/Debug/
Data/bin/Debug/
Data/obj/Debug/
packages/
Model/obj/Debug/
Model/bin/Debug/
FrontEnd/bin/Debug/
FrontEnd/obj/Debug/
Business/bin/Release/
Business/obj/Release/
Data/bin/Release/
Data/obj/Release/
Model/obj/Release/
Model/bin/Release/
FrontEnd/bin/Release/
FrontEnd/obj/Release/
Tests/bin/Debug/
Tests/bin/Release/
Tests/obj/Debug/
Tests/obj/Release/
Base/bin/Debug/
Base/bin/Release/
Base/obj/Debug/
Base/obj/Release/
*.exe
*.pdb
*.dll
FrontEnd/bin/Debug/FrontEnd.exe
FrontEnd/bin/Debug/FrontEnd.exe
FrontEnd/bin/Debug/FrontEnd.exe.config
FrontEnd/bin/Debug/FrontEnd.pdb
FrontEnd/obj/Debug/DesignTimeResolveAssemblyReferences.cache
FrontEnd/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FrontEnd/obj/Debug/FrontEnd.csproj.FileListAbsolute.txt
FrontEnd/obj/Debug/FrontEnd.csprojResolveAssemblyReference.cache
FrontEnd/obj/Debug/FrontEnd.exe
FrontEnd/obj/Debug/FrontEnd.pdb
FrontEnd/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
.vs/TBR Booker/v15/sqlite3/storage.ide
